<div class="container h-100 mt-5">
    <div class="row justify-content-center">

        <div class="col-10">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">name</th>
                    <th scope="col">age</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of items">
                  <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>
                        <button class="btn btn-outline-warning"
                                (click)="showDetails(item.name, item.age)">
                             show details 
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>

        <app-detail [userName]="userDetailName" [userAge]="userDetailAge" *ngIf="show"></app-detail>

        <app-create (eventEmitter)="addItem($event)"></app-create>
    </div>
</div>